<br><br><br><br>
<div class="container">
    <div class="jumbotron text-white bg-dark mb-3">
        <div class="container">
            <h1 class="display-4">Bienvenido a TecNews</h1>
            <hr class="my-4">
            <p class="lead">Llene los campos a continuacion para registrarse</p>
        </div>
        <div class="card text-white bg-info mb-3">
            <div class="card-body">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" name="nombre"
                            placeholder="Ingrese su nombre">

                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" aria-describedby="emailHelp"
                            name="apellidos" placeholder="Ingrese su(s) apellido(s)">

                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" name="email"
                            placeholder="Ingrese su email">

                    </div>
                    <div class="form-group">
                        <label for="contrasenia">Contraseña</label>
                        <input type="password" class="form-control" id="contrasenia" placeholder="Contraseña"
                            name="contrasenia">
                    </div>
                    <div class="form-group">
                        <label for="confirmeContrasenia">Confirme su contraseña</label>
                        <input type="password" class="form-control" id="confirneContrasenia"
                            placeholder="Confirme su contraseña" name="confirmaContrasenia">
                    </div>

                    <button type="submit" class="btn btn-dark">Iniciar</button>
                    <p id="emailHelp" class="form-text">¿Ya tiene una cuenta? <a
                                class="text-dark" href="/inicia-sesion">Inicia sesion</a></p>
                </form>
            </div>
        </div>
    </div>
</div><br>