<div class="container">

<div class="jumbotron jumbotron-fluid bg-dark text-light">
   <div class="container">
     <h1 class="display-4">Acerca de nosotros</h1>
   </div>
</div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     

      <div class="container">
        <div class="row">
          <div class="card col-md-4" style="width: 20rem;">
            <div class="card-header">
              <video src="video/rubi.mp4" class="card-img-top" controls></video>
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example tecard title and up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card col-md-4" style="width: 20rem;">
            <div class="card-header">
              <video src="video/esteban.mp4" class="card-img-top" controls></video>
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example tecard title and up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card col-md-4" style="width: 20rem;">
            <div class="card-header">
              <video src="video/rubi.mp4" class="card-img-top" controls></video>
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example tecard title and up the bulk of the card's content.</p>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="card col-md-6" style="width: 20rem;">
            <div class="card-header">
              <video src="video/rubi.mp4" class="card-img-top" controls></video>
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example tecard title and up the bulk of the card's content.</p>
            </div>
          </div>


          <div class="card col-md-6" style="width: 20rem;">
            <div class="card-header">
              <video src="video/rubi.mp4" class="card-img-top" controls></video>
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example tecard title and up the bulk of the card's content.</p>
            </div>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</div>