<div class="container">

<div class="jumbotron jumbotron-fluid bg-dark text-light">
   <div class="container">
     <h1 class="display-4">Acerca de nosotros</h1>
   </div>
</div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
     
              <div class="row">
          <div class="card col-md-4" style="width: 20rem;">
            <div class="card-header">
              <video src="video/rubi.mp4" class="card-img-top" controls></video>
            </div>
            <div class="card-body">
              <p class="lead">Lucero Rubi Balderas Herrera</p>
            </div>
          </div>

          <div class="card col-md-4" style="width: 20rem;">
            <div class="card-header">
              <video src="video/esteban.mp4" class="card-img-top" controls></video>
            </div>
            <div class="card-body">
              <p class="lead">Esteban Eduardo Moncloa Sifuentes</p>
            </div>
          </div>

          <div class="card col-md-4" style="width: 20rem;">
            <div class="card-header">
              <video src="video/isaac.mp4" class="card-img-top" controls></video>
            </div>
            <div class="card-body">
              <p class="lead">Isaac Ramirez Velez</p>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="card col-md-6" style="width: 10rem;">
            <div class="card-header">
              <video src="video/angel.mp4" class="card-img-top" controls></video>
            </div>
            <div class="card-body">
              <p class="lead">Angel Issac Flores Orozco</p>
            </div>
          </div>


          <div class="card col-md-6" style="width: 20rem;">
            <div class="card-header">
              <video src="video/cristian.mp4" class="card-img-top" controls></video>
            </div>
            <div class="card-body">
              <b>
              <p class="lead">Christian Ricardo Dominguez Esparza</p></b>
               </div>
          </div>

        </div>
      
    </div>
  </div>
</div>